{% if flash('errors') %}
<div class="alert alert-danger alert-dismissible fade show">
    <h3 class="h5 font-weight-bold"><i class="fa fa-exclamation-triangle"></i> Error</h3>
    <ul class="mb-0">
        {% for err in flash('errors') %}
            <li>{{ err }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if flash('messages') %}
<div class="alert alert-info alert-dismissible fade show">
    <h3 class="h5 font-weight-bold"><i class="fa fa-exclamation-triangle"></i> Info</h3>
    <ul class="mb-0">
        {% for msg in flash('messages') %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}